body {
  height: 100vh;
  width: 100vw;

  background-color: var(--color-primary-1);
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

:root {
  --color-primary-1: #61258f;
  --color-primary-2: #c375ff;
  --color-primary-3: #9e4fdb;

  --color-secundary: #838f17;
  --color-secundary-2: #cedb4f;

  --fw-600: 600;
  --fw-800: 800;
}
