.experiences {
  width: 900px;

  transition: 150ms;
}

.experiences__title {
  font-size: var(--fs-24);
  margin: var(--s-48) 0;
  margin-top: 0;
}

.experiences__cardsContainer {
  max-height: 850px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.experiences__cardsContainer::-webkit-scrollbar {
  width: var(--s-2);
  margin-left: var(--s-4);
}

.experiences__cardsContainer::-webkit-scrollbar-track {
  background: transparent;
}

.experiences__cardsContainer::-webkit-scrollbar-thumb {
  background: var(--color-black);
}

/* ExperienceCard */
.experienceCard {
  transition: 150ms;
  margin-bottom: var(--s-32);
}

.experienceCard:last-child {
  margin-bottom: 0;
}

.experienceCard__title {
  font-size: var(--fs-14);
  display: inline-block;
  margin: var(--s-8) var(--s-8) 0 0;
  font-weight: 400;
}

.experienceCard__company {
  text-decoration: underline;
  font-size: var(--fs-12);
  color: var(--color-black);
  display: inline-block;
}

.experienceCard__timing {
  display: block;
  font-weight: 600;
  margin: var(--s-4) 0;
}

.experienceCard__description {
  max-width: 450px;
  margin: var(--s-8) 0;
}

.experienceCard__skillsContainer {
  max-width: 600px;
}

.experienceCard__skillsContainer div {
  margin: var(--s-8) var(--s-8) 0 0;
}
