.projects {
}

.projects_title {
  font-size: var(--fs-24);
}

/* ProjectsCard */

.projectsCard {
  margin: var(--s-64) 0;
  width: 900px;
  display: flex;
}

.projectsCard__img {
  object-fit: cover;
}

.projectsCard__imgContainer {
  min-width: 450px;
  height: 450px;

  margin-right: var(--s-12);
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.projectsCard__title {
  margin: var(--s-16) 0;
  font-size: var(--s-24);
  font-weight: 600;
  text-align: end;
}

.projectsCard__titleLink {
  text-decoration: underline;
  color: var(--color-black);
}

.projectsCard__infoContainer {
  flex-grow: 1;
  text-align: end;
  display: flex;
  flex-direction: column;
}

.projectsCard__description {
  margin: var(--s-8) 0;
  max-width: 60%;
  align-self: flex-end;
}

.projectsCard__skillsContainer {
  margin: var(--s-8) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: var(--s-8);
}
